{# {% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>
	</form>
{% endblock %} #}


{# <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form id="login-form" method="Post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html> #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="{{ asset('css/login.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
	</head>
	<body>
		<div class="login-div">
        <h2>Login</h2>
			<form action="Login.php" method="post" class="login-form">
				<input
					type="email"
					name="email"
					class="login-input"
					placeholder="Email"
					required
				/><br /><br />
				<input
					type="password"
					name="password"
					class="login-input"
					placeholder="Password"
					required
				/><br /><br />
				<button type="submit" value="login" name="login" class="login-button">
					Login
				</button>
				<br /><br />
				<div class="already-auth">
					<span class="login-button-div">Not registered?&nbsp;</span>
					<br />
					<a href="/register" class="login-button-div">Signup now</a>
				</div>
			</form>
		</div>
	</body>
</html>
