

<!DOCTYPE html>
<nav>
    <ul>
        
       
        <a href="{{ path('cart') }}">Cart</a>
        <a href="{{ path('app_register') }}">Sign up</a>
         <a href="{{ path('app_login') }}">log in</a>

        
    </ul>
</nav>
<style>
    nav {
        background-color: red;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }

    nav ul li {
        font-size: 2em; /* Modification pour agrandir l'écriture */
        margin-left: 10px;
        margin-right: 10px;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 30px;
    }

    nav a:hover {
        background-color: white;
        color: #333;
    }
</style>

