{% block title %}Hello!
{% endblock %}

{% block body %}
	<h1>Hello</h1>

	<hr/>
	<form method="POST">
		<button>
			<a href="{{ path('app_logout') }}">Logout</a>
		</button>
	</form>

{% endblock %}
